<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/layout/layout">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title th:text="${certificado.idCertificado == 0} ? 'Nuevo Certificado' : 'Editar Certificado'">Nuevo Certificado</title>
</head>

<body>

	<div layout:fragment="cargarpaginas">

		<div class="row">
			<div class="col-md-6 offset-md-3 grid-margin stretch-card">
				<div class="card">
					<div class="card-body">

						<h4 class="card-title"
							th:text="${certificado.idCertificado == 0} ? 'Nuevo Certificado' : 'Editar Certificado'">Nuevo Certificado</h4>
						<p class="card-description"
							th:text="${certificado.idCertificado == 0} ? 'Registro de un nuevo certificado' : 'Actualizar certificado'">Registro de un nuevo certificado</p>

						<form
							th:action="${certificado.idCertificado == 0} ? @{/certificado/guardar} : @{/certificado/actualizar/{id}(id=${certificado.idCertificado})}"
							th:object="${certificado}" method="post" class="forms-sample">

							<div class="form-group">
								<label for="idExamen">Id Examen Visual</label>
								<input type="number" th:field="*{idExamen}" class="form-control"
									id="idExamen" placeholder="Ingrese el id del examen visual">
							</div>

							<div class="form-group">
								<label for="fechaGeneracion">Fecha de Generación</label>
								<input type="date" th:field="*{fechaGeneracion}"
									class="form-control" id="fechaGeneracion">
							</div>

							<div class="form-group">
								<label for="observaciones">Observaciones</label>
								<input type="text" th:field="*{observaciones}" class="form-control"
									id="observaciones" placeholder="Ingrese las observaciones">
							</div>

							<input type="hidden" th:field="*{idCertificado}">

							<button type="submit" class="btn btn-primary mr-2"
								th:text="${certificado.idCertificado == 0} ? 'Crear' : 'Actualizar'">Crear</button>
							<a th:href="@{/certificado}" class="btn btn-dark">Cancelar</a>

						</form>

					</div>
				</div>
			</div>
		</div>

	</div>

</body>

</html>
