<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/layout/layout">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title
	th:text="${examenvisual.idExamen == 0} ? 'Nuevo Examen Visual' : 'Editar Examen Visual'">Nuevo
	Examen Visual</title>
</head>

<body>

	<div layout:fragment="cargarpaginas">

		<div class="row">
			<div class="col-md-10 offset-md-1 grid-margin stretch-card">
				<div class="card">
					<div class="card-body">

						<div class="d-flex align-items-center mb-2">
							<a href="javascript:history.back()" class="btn btn-dark btn-icon mr-2" title="Regresar"><i class="mdi mdi-arrow-left"></i></a>
							<h4 class="card-title mb-0"
								th:text="${examenvisual.idExamen == 0} ? 'Nuevo Examen Visual' : 'Editar Examen Visual'">Nuevo
								Examen Visual</h4>
						</div>
						<p class="card-description"
							th:text="${examenvisual.idExamen == 0} ? 'Registro de un nuevo examen visual' : 'Actualizar examen visual'">Registro
							de un nuevo examen visual</p>

						<form
							th:action="${examenvisual.idExamen == 0} ? @{/examenvisual/guardar} : @{/examenvisual/actualizar/{id}(id=${examenvisual.idExamen})}"
							th:object="${examenvisual}" method="post" class="forms-sample">


							<div class="form-group" th:if="${clienteSeleccionado != null}">
								<label>Paciente</label>
								<div class="form-control"
									th:text="${clienteSeleccionado.nombres + ' ' + clienteSeleccionado.apellidos + ' - Cédula ' + clienteSeleccionado.cedula}"></div>
								<input type="hidden" th:field="*{idHistoria}">
							</div>

							<div class="form-group" th:if="${clienteSeleccionado == null}">
								<label for="idHistoria">Paciente</label> <select
									class="form-control" th:field="*{idHistoria}" id="idHistoria" oninput="this.setCustomValidity(this.value=='0'?'Seleccione una opción válida.':'')" onchange="this.setCustomValidity(this.value=='0'?'Seleccione una opción válida.':'')" required>
									<option value="0">Seleccione un paciente</option>
									<option th:each="historia : ${listaHistorias}"
										th:value="${historia.idHistoriaClinica}"
										th:text="${historia.fkCliente.nombres + ' ' + historia.fkCliente.apellidos}"></option>
								</select>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label for="fechaExamen" class="col-sm-4 col-form-label">Fecha del Examen</label>
										<div class="col-sm-8">
											<input type="date" th:field="*{fechaExamen}" class="form-control"
												id="fechaExamen" min="2000-01-01" max="2030-12-31" onkeydown="return false;" onkeypress="return false;" onkeyup="return false;" onpaste="return false;">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label for="ultimoControlVisual" class="col-sm-4 col-form-label">Último Control Visual</label>
										<div class="col-sm-8">
											<input type="date" th:field="*{ultimoControlVisual}"
												class="form-control" id="ultimoControlVisual" min="2000-01-01" max="2030-12-31" onkeydown="return false;" onkeypress="return false;" onkeyup="return false;" onpaste="return false;">
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label for="proximaConsulta" class="col-sm-4 col-form-label">Próxima Consulta</label>
										<div class="col-sm-8">
											<input type="date" th:field="*{proximaConsulta}" class="form-control"
												id="proximaConsulta" min="2000-01-01" max="2030-12-31" onkeydown="return false;" onkeypress="return false;" onkeyup="return false;" onpaste="return false;">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label for="motivoConsulta" class="col-sm-4 col-form-label">Motivo de Consulta</label>
										<div class="col-sm-8">
											<input type="text" th:field="*{motivoConsulta}" class="form-control"
												id="motivoConsulta" placeholder="Ingrese el motivo de consulta" maxlength="150">
										</div>
									</div>
								</div>
							</div>

							<p class="card-description">Agudeza visual</p>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label for="avOd" class="col-sm-4 col-form-label">Agudeza Visual OD</label>
										<div class="col-sm-8">
											<input type="text" th:field="*{avOd}" class="form-control" id="avOd"
												placeholder="Ingrese la agudeza visual OD" maxlength="6" oninput="this.value=this.value.replace(/[^0-9\/]/g,'')">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label for="avOi" class="col-sm-4 col-form-label">Agudeza Visual OI</label>
										<div class="col-sm-8">
											<input type="text" th:field="*{avOi}" class="form-control" id="avOi"
												placeholder="Ingrese la agudeza visual OI" maxlength="6" oninput="this.value=this.value.replace(/[^0-9\/]/g,'')">
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label for="sphOd" class="col-sm-4 col-form-label">Esfera OD</label>
										<div class="col-sm-8">
											<input type="text" th:field="*{sphOd}" class="form-control" id="sphOd"
												placeholder="Ingrese la esfera OD" maxlength="6" oninput="this.value=this.value.replace(/[^0-9.+\-]/g,'')">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label for="sphOi" class="col-sm-4 col-form-label">Esfera OI</label>
										<div class="col-sm-8">
											<input type="text" th:field="*{sphOi}" class="form-control" id="sphOi"
												placeholder="Ingrese la esfera OI" maxlength="6" oninput="this.value=this.value.replace(/[^0-9.+\-]/g,'')">
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label for="cylOd" class="col-sm-4 col-form-label">Cilindro OD</label>
										<div class="col-sm-8">
											<input type="text" th:field="*{cylOd}" class="form-control" id="cylOd"
												placeholder="Ingrese el cilindro OD" maxlength="6" oninput="this.value=this.value.replace(/[^0-9.+\-]/g,'')">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label for="cylOi" class="col-sm-4 col-form-label">Cilindro OI</label>
										<div class="col-sm-8">
											<input type="text" th:field="*{cylOi}" class="form-control" id="cylOi"
												placeholder="Ingrese el cilindro OI" maxlength="6" oninput="this.value=this.value.replace(/[^0-9.+\-]/g,'')">
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label for="ejeOd" class="col-sm-4 col-form-label">Eje OD</label>
										<div class="col-sm-8">
											<input type="text" th:field="*{ejeOd}" class="form-control" id="ejeOd"
												placeholder="Ingrese el eje OD" maxlength="3" inputmode="numeric" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label for="ejeOi" class="col-sm-4 col-form-label">Eje OI</label>
										<div class="col-sm-8">
											<input type="text" th:field="*{ejeOi}" class="form-control" id="ejeOi"
												placeholder="Ingrese el eje OI" maxlength="3" inputmode="numeric" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label for="addValor" class="col-sm-4 col-form-label">Adición</label>
										<div class="col-sm-8">
											<input type="text" th:field="*{addValor}" class="form-control" id="addValor"
												placeholder="Ingrese el valor de adición" maxlength="5" oninput="this.value=this.value.replace(/[^0-9.+\-]/g,'')">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label for="dnp" class="col-sm-4 col-form-label">DNP</label>
										<div class="col-sm-8">
											<input type="text" th:field="*{dnp}" class="form-control" id="dnp"
												placeholder="Ingrese el DNP" maxlength="6" oninput="this.value=this.value.replace(/[^0-9\/]/g,'')">
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label for="altura" class="col-sm-4 col-form-label">Altura</label>
										<div class="col-sm-8">
											<input type="text" th:field="*{altura}" class="form-control" id="altura"
												placeholder="Ingrese la altura" maxlength="5" oninput="this.value=this.value.replace(/[^0-9.]/g,'')">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label for="biomicroscopia" class="col-sm-4 col-form-label">Biomicroscopía</label>
										<div class="col-sm-8">
											<input type="text" th:field="*{biomicroscopia}" class="form-control"
												id="biomicroscopia" placeholder="Ingrese la biomicroscopía" maxlength="200">
										</div>
									</div>
								</div>
							</div>

							<p class="card-description">Diagnóstico y seguimiento</p>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label for="recomentaciones" class="col-sm-4 col-form-label">Recomendaciones</label>
										<div class="col-sm-8">
											<input type="text" th:field="*{recomentaciones}" class="form-control"
												id="recomentaciones" placeholder="Ingrese las recomendaciones" maxlength="200">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label for="diagnostico" class="col-sm-4 col-form-label">Diagnóstico</label>
										<div class="col-sm-8">
											<input type="text" th:field="*{diagnostico}" class="form-control" id="diagnostico"
												placeholder="Ingrese el diagnóstico" maxlength="200">
										</div>
									</div>
								</div>
							</div>

							<input type="hidden" th:field="*{idExamen}">

							<button type="submit" class="btn btn-primary mr-2"
								th:text="${examenvisual.idExamen == 0} ? 'Crear' : 'Actualizar'">Crear</button>
							<a th:href="@{/examenvisual}" class="btn btn-dark">Cancelar</a>

						</form>

					</div>
				</div>
			</div>
		</div>

	</div>

</body>

</html>
